#Footer {
    display: flex;
    background-color: #3509e2;
    height: 60px;
    align-items: center;
}

#CopyrightFooter {
    padding: 0 5%;
    font-weight: bold;
    color: white;
}

#Footerbuttons {
    display: flex;
    position: absolute;
    right: 5.6%;


}

.FooterBtn {
    padding: 10px 20px;
    border: 2px solid rgb(197, 209, 231);
    margin-left: 12px;
    border-radius: 10px;
    background-color: #3509e2;
    color: white;

}

.FooterBtn:hover {
    background-color: #0800ff;

}

.SignUp {
    background-color: rgb(32, 180, 180);
}

.SignUp:hover {
    background-color: rgb(22, 87, 87);
}