#navbar{
    
    display: flex;
    background-color: #3509e2;
    height: 60px;
    align-items: center;
    padding: 0 5%;
    left: 0;
    top: 0;
    right: 0;
   position: sticky;

    

}
#navHeader{
    
    color: white;
    font-weight: 400;
    padding: 5px;
}
#navbuttons{
   display: flex;
   right:  5%;
   position: absolute;
   
   
}
.navBtn{
    padding: 10px 20px;
    border: 2px solid rgb(197, 209, 231);
    margin-left: 12px;
    border-radius: 10px;
    background-color:  #3509e2;
    color: white;

    
}
.navBtn:hover{
    background-color: #0800ff;

    
}
#SignUp{
    background-color: rgb(32, 180, 180);
}
#SignUp:hover{
    background-color: rgb(22, 87, 87);
}