#maincontainercsss{
    width: 100%;
   background-color: #ebd1d1;
   display: flex;
}
#textContainer{
    padding: 0 5%;
    padding-top: 5%;
}
#textHeader{
    font-size: 50px;
    margin-bottom: 0px;
    width: 65%;
     
}
#textPara{
    font-size: 22px;
    width: 65%;
}
#SignUp{
    background-color: rgb(32, 180, 180);
    padding: 10px 20px;
    border: 2px solid rgb(197, 209, 231);
    
    border-radius: 10px;
    
    color: white;
    margin-right: 10px;
}
#Login{
   
    padding: 10px 30px;
    border: 2px solid rgb(32, 180, 180);
    border-radius: 10px;
}